body {
  background-color:#F5F5F1;
  margin:0px;
  }

#container { 
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  font-family:sans-serif;
  background-color:#FFFFFF;
}

.centered {
  display:block;
  margin-left:auto; !Important;
  margin-right:auto; !Important;
}

.Select {
  float:left;
}

.footer { 
  background-color:#ADD9E6;
  padding:.2em;
  color:#666;
  border-top: 1px solid #999;
}

.main {
  padding:1em;
}

.main img {
  width: 100%;
}

.main a {
  text-decoration: none;
}

.main a:visited {
  text-decoration: none;
  color: #0f007f;
}

.header {
  background-color: #ADD8E6;
  overflow: auto;
  padding:.2em;
}

.h_links{
  background-color: #ADD8E6;
  border-bottom: solid 1px #999;
  overflow: auto;
  padding:.1em;
  clear:both;
}

.h_link { 
  display:inline;
  padding-left: .2em;
  padding-right: .2em;
}
.h_link a{
  color:#01c;
  text-decoration:none;
}

.h_link a:visited{
  color:#08c;
}

.h_title a{
  color:black;
  text-decoration:none;
}

.h_title{
float: left;
padding: .2em .2em .2em .2em;
font-size:250%;
}

.h_logo{
float:right;
padding:.2em;
}

.error {
color: #D8000C;
border: 1px solid;
display:inline-block;
margin: 5px 0px;
padding:5px 10px 5px 25px;
background-repeat: no-repeat;
background-position: 5px center;
background-color: #FFBABA;
background-image: url('images/error.png');
}

.download {
  white-space: nowrap;
  }
.download img {
  width: auto;
}

.doc_table {
width:100%;
border-collapse:collapse;
}

.doc_table a{
  color:#01c;
  text-decoration:none;
}

.doc_table a:visited{
  color:#08c;
}
.doc_table td, .doc_table th  {
font-size:1.1em;
border:1px solid #08c;
padding:3px 7px 2px 7px;
}

.doc_table th  {
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#99CCFF;
color:#08f;
}

.doc_table tr.alt td {
color:#000;
background-color:#C2E0FF;
}
