body { 
  margin-top:0em;
  font-family:sans-serif;
  background-color:#FFFFFF;
}

.footer { 
  background-color:lightblue;
  border-bottom: solid 2px #08c;
  padding:.2em;
}

.main {

  padding:.2em;
  background-color:#EEEEEE;
}

.dataTables_Wrapper {
  margin-left:10%;
  margin-right:10%;
}

table.display tr.even.row_selected td {
  background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
  background-color: #9FAFD1;
}

.header {
background-color: #ADD8E6;
border-bottom: solid 2px #08c;
overflow: auto;
padding:.2em;
}

.h_link:link{
  color:#08c;
  text-decoration:none;
}

.h_link:visited{
  color:#08c;
  text-decoration:none;
}

.h_title{
float: left;
padding: .2em .2em .2em .2em;
font-size:200%;
}

.h_logo{
float:right;
padding:.2em;
}
