body { 
  margin-top:0em;
  font-family:sans-serif;
  background-color:#FAFAFA;
  padding:.2em;
}


.footer { 
  background-color:lightblue;
  padding:.2em;
}

.header {
background-color: #ADD8E6;
border-top: solid 2px #08c;
border-bottom: solid 2px #08c;
overflow: auto;
width: 90%;
}

.h_link:link{
  color:#08c;
  text-decoration:none;
}

.h_link:visited{
  color:#08c;
  text-decoration:none;
}

.h_title{
float: left;
padding: .2em .2em .2em .2em;
font-size:200%;
}

.h_logo{
float:right;
padding:.2em;
}
