#chart {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.jqplot-highlighter-tooltip {
  text-align:left;
} 

table.display tr.even.row_ava td {
  background-color: #F99;
}

table.display tr.odd.row_ava  td {
  background-color: #FF7373;
}

table.display tr.even.row_avb td {
  background-color: #B0BED9;
}

table.display tr.odd.row_avb  td {
  background-color: #9FA9D1;
}

table.display tr.even.row_bvb td {
  background-color: #ABABAB;
}

table.display tr.odd.row_bvb  td {
  background-color: #8f8f8f;
}
